<h1>講師発注管理  一覧</h1>

<%= link_to '新規追加', new_teacher_order_path, :class => 'btn' %>
<table id="teacher_orders_datatable" class="default_datatables">
  <thead>
    <tr>
      <th>会社名</th>
      <th>講師</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>合計時間</th>
      <th>合計金額</th>
      <th>メモ</th>
      <th>発注書</th>
      <th>請求書受領</th>
      <th>支払い完了</th>
      <th>CH</th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_orders.each do |teacher_order| %>
      <tr>
        <td><%= teacher_order.company_name %></td>
        <td><%= teacher_order.teacher.name %></td>
        <td><%= teacher_order.start_date %></td>
        <td><%= teacher_order.end_date %></td>
        <td><%= convert_min(teacher_order.total_time) %></td>
        <td><%= number_to_currency(teacher_order.price) %></td>
        <td><%= teacher_order.memo %></td>
        <td><%= to_order_date teacher_order ,:order_date %></td>
        <td id="td_teacher_order_invoice_date_<%= teacher_order.id%>"><%= link_to_teacher_order_flg teacher_order, :invoice_date %></td>
        <td id="td_teacher_order_payment_date_<%= teacher_order.id%>"><%= link_to_teacher_order_flg teacher_order, :payment_date %></td>
        <td><%= link_to '編集', edit_teacher_order_path(teacher_order), :class => "btn" %>
            <%= link_to '依頼書', teacher_order_path(teacher_order), :class => "btn" %>
        	<%= link_to '削除', teacher_order, method: :delete, data: { confirm: '本当に削除しますか' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

