  <tr>
    <td><%= f.text_field :name, class: "input-xlarge" %></td>
    <td><%= f.text_area :detail, class: "input-xlarge" %></td>
  	<td><%= f.text_field :unit_price, class: "estimate_lines_trigger estimate_line_unit_price input-small" %></td>
  	<td><%= f.text_field :quantity, class: "estimate_lines_trigger estimate_line_quantity input-small" %></td>
  	<td><%= f.text_field :tax_rate, class: "estimate_lines_trigger estimate_line_tax_rate input-mini" %>%</td>
    <td class="estimate_line_tax_price"><%= number_to_currency f.object.tax_price %></td>
    <td class="estimate_line_total_price"><%= number_to_currency f.object.total_price %></td>
  	<td><% if delete_flg == true%><%= link_to_remove_fields "削除", f  %><%end%></td>
  </tr>
