<%= simple_form_for(@estimate , html: {:class => "form-horizontal"}, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <% @estimate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
  <% end %>
    <%= f.input :client_type  %>
    <%= f.input :client_id ,as: :hidden %>
    <div class="form-group">
     <label for="search_company" class="col-sm-3 control-label">会社名</label>
    <div class="col-sm-9">
    <div id="company_search_area">
    <%= text_field_tag :company_search, @estimate.company_id, class: "search_company form-control" %>
  </div>
    <div id="lead_search_area">
    <%= text_field_tag :lead_search, @estimate.lead_id, class: "search_lead form-control" %>
  </div>
    </div>
    </div>
    <%= f.input :expired, as: :date_picker %>
    <%= f.input :memo %>

<table class="table table-striped table-bordered">
    <thead>
       <tr>
          <th>品名</th>
          <th>詳細</th>
          <th>単価</th>
          <th>数量</th>
          <th>税率</th>
          <th>税金</th>
          <th>合計金額</th>
          <th></th>
       </tr>
  	</thead>
     <tbody class="add_fields">
       <%= f.simple_fields_for :estimate_lines, wrapper: :table_form do |l| %>
         <%= render :partial => "estimate_line_fields", :locals => { :l => l, :delete_flg => true} %>
       <% end %>
  </tbody>
     <tr>
        <td colspan="4">&nbsp;</td>
        <td><b>合計</b></td>
        <td id="td_estimate_total_price"><%= number_to_currency @estimate.total_price %></td>
      </tr>
</table>
  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-primary"%>
    <%= link_to_add_simple_fields "行を追加する", f, :estimate_lines %>
  </div>
<% end %>
