<%= simple_form_for(@estimate, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
    <%= f.input :company_id , input_html: { class: 'input-xxlarge search_company' } %>
    <%= f.input :expired, as: :date_picker %>
    <%= f.input :memo %>

<table class="table table-striped table-bordered">
    <thead>
       <tr>
          <th>品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>税率</th>
          <th>税金</th>
          <th>合計金額</th>
          <th></th>
       </tr>
  	</thead>
     <tbody class="add_fields">
     <%= f.fields_for :estimate_lines do |f| %>
       <%= render :partial => "estimate_line_fields", :locals => { :f => f, :delete_flg => true} %>
     <% end %>
  </tbody>
     <tr>
        <td colspan="3">&nbsp;</td>
        <td><b>合計</b></td>
        <td id="td_estimate_total_price"><%= number_to_currency @estimate.total_price %></td>
      </tr>
</table>
  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-primary"%>
    <%= link_to_add_fields "行を追加する", f, :estimate_lines %>
  </div>
<% end %>
