<h1>見積り一覧</h1>

<table id="estimates_datatable" class="default_datatables">
  <thead>
    <tr>
      <th>発行済</th>
      <th>会社名</th>
      <th>期日</th>
      <th>合計金額</th>
      <th>作成日</th>
      <th>Memo</th>
      <th>CH</th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= link_to_switch_flg estimate, :send_flg %></td>
        <td><%= link_to estimate.company.client_name, edit_company_path(estimate.company) %></td>
        <td><%= estimate.expired %></td>
        <td><%= number_to_currency estimate.total_price %></td>
        <td><%= estimate.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= estimate.memo %></td>
        <td><%= link_to '表示', estimate , class: "btn"%>
          <%= link_to '編集', edit_estimate_path(estimate) , class: "btn"%>
          <%= link_to '削除', estimate, method: :delete, data: { confirm: '本当に削除しますか' } , class: "btn"%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規追加', new_estimate_path, :class => 'btn' %>
