<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.select :type_id , options_task_type(@task.type_id) %>
  </div>
  <div class="field">
    期日<br>
    <%= f.text_field :duedate, 'data-format' => 'yyyy-MM-dd hh:mm:ss', :class=>"datepicker" %>
  </div>
  <div class="field">
    名前<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    進捗状況<br>
    <%= f.select :progress_id , options_for_select(@task.getProgressList, 1) %>
  </div>
  <div class="field">
    会社ID<br>
    <%= f.text_field :company_id %>
  </div>
  <div class="field">
    担当者<br>
    <%= f.select :assignee , options_from_users(@task.assignee) %>
  </div>
  <div class="field">
    メモ<br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
