<h1>各個人の未完了タスク</h1>

<%= link_to "CSV出力", {:action => "usershow", :format => "csv"}, { :class => "btn" }%>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ステータス</th>
      <th>会社名</th>
      <th>名前</th>
      <th>期日</th>
      <th>ステータス</th>
      <th>メモ</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.company.status.name %></td>
        <td><%= task.company.client_name %></td>
        <td><%= link_to task.name, {action: 'edit', id: task.id}%></td>
        <td><%= task.duedate %></td>
        <td><%= task.getProgress() %> </td>
        <td><%= task.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>
