<div class="row-fluid">
	<div class="span12">
		<h5>未完了のタスク</h5>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>会社名</th>
					<th>ステータス</th>
					<th>担当者</th>
					<th>名前</th>
					<th>期日</th>
				</tr>
			</thead>
			<tbody>
				<% if @not_complite.present? %>
				<% @not_complite.each do |t|%>
				<tr>
					<td><%= link_to t.company.client_name, {action: "edit", id: t.company_id} %></td>
					<td><%= t.getProgress()%></td>
					<td><%= get_user_name(t.assignee)%></td>
					<td><%= t.name%></td>
					<td><%= t.duedate%></td>
				</tr>
				<%end%>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
