<div class="row">
  <%= link_to "コース追加", {controller: "courses", action: "new"}, class: "btn" %>
<table class="table table-bordered table-striped">
<tr>
  <th>ID</Th>
  <th>コース名</Th>
  <th>発注書</Th>
  <th>書籍送付</Th>
  <th>出欠表作成</Th>
  <th>受付印</Th>
  <th>労働局受領印</Th>
  <th>支給申請</Th>
  <th>表彰状</Th>
  <th>コース時間</th>
  <th>編集</th>
</tr>
<% @course.each do |c|%>
<tr>
  <td><%= c.id %></td>
  <td><a class="edit_in_place" href="#" data-type="text"  data-resource="course" data-url="/courses/update/<%= c.id %>"><%= c.name %></a></td>
  <td><%= check_course_img(c, "order_flg") %></td>
  <td><%= check_course_img(c, "book_flg") %></td>
  <td><%= check_course_img(c, "attendee_table_flg") %></td>
  <td><%= check_course_img(c, "reception_seal_flg") %></td>
  <td><%= check_course_img(c, "cert_seal_flg") %></td>
  <td><%= check_course_img(c, "end_form_flg") %></td>
  <td><%= check_course_img(c, "diploma_flg") %></td>
  <td><%= convert_min(c.getTotalTime) %></td>
  <td><%= link_to "コマ編集", :controller => "courses", :action => "edit", :id => c.id%></td>
</tr>
<% end %>
</table>
</div>
