<div class="row-fluid">
<table class="table table-bordered table-striped">
<tr>
  <th>ID</Th>
  <th>コース名</Th>
  <th>発注書</Th>
  <th>書籍送付</Th>
  <th>３点セット</Th>
  <th>コース時間</th>
  <th>編集</th>
</tr>
<% @course.each do |c|%>
<tr>
  <td><%= c.id %></td>
  <td><a class="edit_in_place" href="#" data-type="text"  data-resource="course" data-url="/courses/update/<%= c.id %>"><%= c.name %></a></td>
  <td><%= check_course_img(c, "order_flg") %></td>
  <td><%= check_course_img(c, "book_flg") %></td>
  <td><%= check_course_img(c, "report_flg") %></td>
  <td><%= convert_min(c.getTotalTime) %></td>
  <td><%= link_to "コマ編集", :controller => "courses", :action => "edit", :id => c.id%></td>
</tr>
<% end %>
<tr>
	<td colspan="8">
		<%= form_tag(:controller => 'courses', :action => 'create') do %>
			コース名<input type="text" name="course[name]" /><input type="submit" value="新規作成" class="btn">
			<input type="hidden" name="course[company_id]" value="<%= @company.id %>" />
	    <%end%>
	</td>
</tr>
</table>
</div>