
<% @company.errors.full_messages.each do |msg|%>
<li><%=msg%></li>
<%end%>
<div class="control-group">
 <label class="control-label">会社名</label><div class="controls"> <%= form.text_field :client_name %></div >
</div>
<div class="control-group">
<label class="control-label">業種</label> <div class="controls"><%= form.collection_select(:industry_id,@industries, :id, :name, {:include_blank => true, :selected => "" }) %>(<%= link_to "業種の追加", {controller: "industries"}%>)</div>
</div>
<div class="control-group">
<label class="control-label">担当者名</label> <div class="controls"><%= form.text_field :client_person %></div>
</div>
<div class="control-group">
<label class="control-label">営業マン</label> <div class="controls"><%= form.select :sales_person , options_from_users(@company.sales_person), :include_blank => true %></div>
</div>
<div class="control-group">
<label class="control-label">見込み度</label> <div class="controls"><%= form.select :chance , options_chance(@company.chance), :include_blank => true  %></div>
</div>
<div class="control-group">
<label class="control-label">連絡先</label><div class="controls"> TEL<%= form.text_field :tel %> FAX<%= form.text_field :fax %> Mail<%= form.text_field :mail %></div>
</div>
<% options = ["","FAX", "自社テレアポ", "紹介", "代理店", "ホームページ", "テレアポ代行", "その他"]%>
<div class="control-group">
<label class="control-label">データ元</label><div class="controls"> <%= form.select :lead , options %></div>
</div>
<div class="control-group">
<label class="control-label">ステータス </label>
<div class="controls"><%= form.select :status_id, options_from_statuses(@company.status_id), :include_blank => true %>
</div></div>

<div class="control-group">
<label class="control-label">住所 </label>
<div class="controls">
<table class="table table-condensed">
	<tr>
		<td>郵便番号</td>
		<td>都道府県</td>
		<td>市町村</td>
	</tr>
	<tr>
		<td><%= form.text_field :zipcode %></td>
		<td><%= form.text_field :prefecture %></td>
		<td><%= form.text_field :city %></td>
	</tr>
	<tr>
    	<td>番地</td>
	    <td>建物名</td>
    </tr>
    <tr>
		<td><%= form.text_field :address %></td>
		<td><%= form.text_field :building %></td>
    </tr>
</table>
<a class="btn" onClick='location.href = "http://www.google.co.jp/search?q=" + $("#company_prefecture").val() + $("#company_city").val() + $("#company_address").val() + " 郵便番号"'>郵便番号検索</a><br>
</div></div>
<div class="control-group">
<label class="control-label">請求予定</label><div class="controls"> <%= form.text_field :bill%></div>
</div>
<div class="control-group">
<label class="control-label">コンタクト </label>
<div class="controls">
    <% contact_index = 1 %>
	<%= form.fields_for :contact do |c| %>
      <%= contact_index %> 
      <%= c.text_area :memo, :rows => "6",  :class=>"span9" %><br>
      &nbsp;&nbsp;&nbsp;担当者：<%= c.object.getCreatedBy() %>, 作成日: <%= simple_date(c.object.created_at) %><br>
      <%= c.hidden_field :created_by%>
      <% contact_index += 1%>
	<% end %>

</div></div>

<div class="form-actions">
<%= submit_tag "編集する", :class=>"btn btn-primary" %>
</div>
</form>