<%= form_for(@company, :url => { :action => 'search'}, :html => {:method => 'GET', :class=>"search_form"}) do |form|%><br>
<%= form.text_field :client_name, {:class => "input-medium", :placeholder => "会社名"} %><br>
<%= form.select :status_id , options_from_statuses(@company.status_id),{:prompt => "< ステータス >", :include_blank => true}, {:class => "input-medium"} %><br>
<%= text_field_tag :rank,params["rank"], {:class => "input-medium", :placeholder => "ランク"} %><br>
<%= form.text_field :prefecture, {:class => "input-medium", :placeholder => "都道府県"} %><br>
<%= form.text_field :city, {:class => "input-medium", :placeholder => "市町村"} %><br>
<%= form.select :sales_person , options_from_users(@company.sales_person),{:prompt => "< 営業マン >", :include_blank => true}, {:class => "input-medium"} %><br>
<%= form.text_field :lead , {:class => "input-medium", :placeholder => "データ元"} %><br>
<%= form.select :created_by , options_from_users(@company.created_by),{:prompt => "< 作成者 >", :include_blank => true},{:class => "input-medium"} %><br>
<%= form.text_field :created_at, {'data-format' => 'yyyy-MM-dd', :class=>"datepicker input-small", :placeholder => "作成日"} %><br>
<%= form.select :updated_by , options_from_users(@company.updated_by),{:prompt => "< 更新者 >", :include_blank => true}, {:class => "input-medium"} %><br>
<%= form.text_field :updated_at, {'data-format' => 'yyyy-MM-dd', :placeholder => "更新日", :class=>"datepicker input-medium"} %><br>
<%= form.collection_select(:industry_id,Industry.all, :id, :name, {:prompt => "< 業種 >", :include_blank => true} , {:class => "input-medium"} ) %>
<br>
<%= submit_tag "検索する", :class=>"btn btn-primary" %><%= link_to "新規作成", {:action=> "new"} , {:class=>"btn"}%>

</form>
<% end %>