<h1>編集</h1>
<div class="row-fluid">
  <div class="span3">
  	
    <div class="task">
      <h4>タスク一覧</h4>
      <table class="table table-bordered table-hover" id="task_list_table">
        <thead>
          <tr>
            <th>期日 </th>
            <th>ST</th>
            <th>タイプ</th>
          </tr>
        </thead>
        <tbody>
        	<% @company.task.each do |t|%>
          <tr class="info">
            <td><%= t.duedate %></td>
            <td><%= t.progress_id%></td>
            <td><%= t.task_type.name%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="well">
    	<h4>新規タスク作成</h4>
        <% @task_types.each do |t| %>    	
    	<% if t.group == "フォロー" && defined?(@follow_index) == nil %>
    	<h5>フォロー系</h5>
    	<% @follow_index = true %>
    	<%end%>
    	<% if t.group == "作成系" && defined?(@create_index) == nil %>
    	<h5>作成系</h5>
    	<% @create_index = true %>
    	<%end%>
    	<% if t.group == "汎用系" && defined?(@general_index) == nil %>
    	<h5>汎用系</h5>
    	<% @general_index = true %>
    	<%end%>


    	<a role="button" data-name="<%= t.name %>" data-type="<%= t.id %>" 
    	data-due="<%= t.getDueDate() %>" 
    	data-assignee="<%= t.getDefaultAssignee(@current_user) %>" 
    	class="btn task-button" data-toggle="modal"><%= t.name %></a>
    	<% end %>
    </div>
  </div>
  <div class="span9"> <%= render 'form' %>
    <%= link_to '削除する', @company, method: :delete, data: { confirm: '本当に削除しますか' } ,  :class=>"btn"%>
</div>
</div>
<table class="table table-striped">
  <tr>
    <th>カラム</th>
    <th>値</th>
  </tr>
  <tr>
    <td>作成者</td>
    <td><%= @company.getCreatedBy()%></td>
  </tr>
  <tr>
    <td>作成日</td>
    <td><%= @company.created_at%></td>
  </tr>
  <tr>
    <td>更新者</td>
    <td><%= @company.getUpdatedBy()%></td>
  </tr>
  <tr>
    <td>更新日</td>
    <td><%= @company.updated_at%></td>
  </tr>
</table>
<%= render(:partial => "task_modal") %>