<h1>見込み高い案件</h1>

<%= link_to "CSV出力", {:action => "usershow", :format => "csv"}, { :class => "btn" }%>

| 表示営業マン<%= select_tag "sales_person_change" , options_from_users(params[:id]), :include_blank => true %>

<table style="border-collapse:collapse;" class="table table-bordered" id="usershow-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>見込み度</th>
      <th>会社名</th>
      <th>初回アポ日</th>
      <th>提案見積日</th>
      <th>契約日</th>
      <th>入金日</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
  	<% key = 1%>
    <% @companies.each do |c| %>
      <tr class="<%= cycle('even','odd') %> <%= key == 5 ? 'big_border' : nil %>">
        <td class="level1" data-pk="<%= c.id %>"><%= key.to_s%><%key += 1%></td>
        <td><%= c.chance %></td>
        <td><%= link_to c.client_name , {action: "edit", id: c.id} %></td>
        <td><%= c.appoint_plan %><% if c.appoint_contact.present?%> <br>(実績:<%= c.appoint_contact.updated_at.strftime("%Y/%m/%d")%>)<% end %></td>
        <td><%= c.proposed_plan %><% if c.proposed_contact.present?%> <br>(実績:<%= c.proposed_contact.updated_at.strftime("%Y/%m/%d")%>)<% end %></td>
        <td><%= c.contract_plan %></td>
        <td><%= c.payment_plan %></td>
        <td><%= c.status.name %></td>
      </tr>
      <% c.contacts.each do |o| %>
        <tr class="tr-contact-<%= c.id %> level2" style="display:none">
        <td>&nbsp;</td>
        <td style="width:100px;"><%= o.type %></td>
        <td><%= o.created_at.strftime("%Y-%m-%d") %></td>
        <td colspan="6"><%= o.memo %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
