<h1>講師 一覧</h1>

<%= link_to '新規追加', new_teacher_path, :class => 'btn btn-info' %>
<table class="default_datatables">
  <thead>
    <tr>
      <th>名前</th>
      <th>rank</th>
      <th>ジャンル</th>
      <th>ディレクター</th>
      <th>電話</th>
      <th>メール</th>
      <th>メモ</th>
      <th>編集</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.short_name, teacher_path(teacher) %></td>
        <td><%= get_work_possible(teacher.work_possible) %></td>
        <td><%= teacher.genre %></td>
        <td><%= teacher.director_name %></td>
        <td><%= teacher.tel %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.memo %></td>
        <td><%= link_to '編集', edit_teacher_path(teacher), :class => "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
