<p id="notice"><%= notice %></p>

<p>
  <strong>First kanji:</strong>
  <%= @teacher.first_kanji %>
</p>

<p>
  <strong>Last kanji:</strong>
  <%= @teacher.last_kanji %>
</p>

<p>
  <strong>First kana:</strong>
  <%= @teacher.first_kana %>
</p>

<p>
  <strong>Last kana:</strong>
  <%= @teacher.last_kana %>
</p>

<p>
  <strong>Work possible:</strong>
  <%= @teacher.work_possible %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @teacher.genre %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @teacher.memo %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
