<h1><%= plural_table_name %> 一覧</h1>

<table id="<%= plural_table_name %>_datatable">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th>CH</th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to '編集', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => "btn" %>
        	<%%= link_to '削除', <%= singular_table_name %>, method: :delete, data: { confirm: '本当に削除しますか' }, :class => "btn" %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to '新規追加', new_<%= singular_table_name %>_path, :class => 'btn' %>
