
<% if @alerts.courses.present? %>
<div class="row-fluid">
	<div class="span12 well">
		<h5>コースに関するアラート</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>会社名</th>
					<th>コース名</th>
					<th>開始日</th>
					<th>終了日</th>
					<th>メッセージ</th>
				</tr>
			</thead>
			<tbody>
				<% @alerts.courses.each do |c|%>
				<tr>
          <td><%= link_to c.client_name, {controller: "companies", action: "show", id: c.course.company.id} %></td>
					<td><%= link_to c.course.name, {controller: "companies", action: "show", id: c.course.id} %></td>
					<td><%= c.start_date %></td>
          <td><%= c.end_date %></td>
					<td><%= c.message %></td>
				</tr>
      <%end%>
			</tbody>
		</table>
	</div>
</div>
<%end%>


<% if @alerts.periods.present? %>
<div class="row-fluid">
	<div class="span12 well">
		<h5>コマに関するアラート</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>会社名</th>
					<th>コース名</th>
					<th>実施日</th>
					<th>メッセージ</th>
				</tr>
			</thead>
			<tbody>
				<% @alerts.periods.each do |c|%>
				<tr>
          <td><%= link_to c.client_name, {controller: "companies", action: "show", id: c.course.company.id} %></td>
					<td><%= link_to c.course.name, {controller: "courses", action: "edit", id: c.course.id} %></td>
					<td><%= c.day %></td>
					<td><%= c.message %></td>
				</tr>
      <%end%>
			</tbody>
		</table>
	</div>
</div>
<%end%>


<% if @alerts.companies.present? %>
<div class="row-fluid">
	<div class="span12 well">
		<h5>会社に関するアラート</h5>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>会社名</th>
					<th>メッセージ</th>
				</tr>
			</thead>
			<tbody>
				<% @alerts.companies.each do |c|%>
				<tr>
          <td><%= link_to c.client_name, {controller: "companies", action: "edit", id: c.company.id} %></td>
					<td><%= c.message %></td>
				</tr>
      <%end%>
			</tbody>
		</table>
	</div>
</div>
<%end%>
