<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><%= link_to @course.company.client_name, edit_company_path(@course.company)%> <span class="divider">/</span></li>
    <li class="active"><%= @course.name%></li>
</ul>


<%= form_for @course do |f| %>
<ul>
<% @course.errors.full_messages.each do |msg|%>
<li><%= msg %></li>
<% end %>
</ul>

  <table class="table table-bordered table-striped" id="periods_table">
  	<thead>
  	<tr>
  		<th>日付</th>
  		<th>開始時刻</th>
  		<th>終了時刻</th>
  		<th>休憩開始</th>
  		<th>休憩終了</th>
  		<th>講師</th>
  		<th>合計時間</th>
  		<th>メモ</th>
  	</tr>
  	</thead>
  <tbody class="add_fields">
  <%= f.fields_for :periods do |c| %>
    <%= render :partial => "period_fields", :locals => { :f => c, :delete_flg => true} %>
  <% end %>
  </tbody>
  </table>
  <p><%= link_to_add_fields "追加", f, :periods %>
  	<button value="再計算" class="btn btn-info" id ="calc_button">再計算</button>
  	<%= f.submit "保存する", :class => "btn btn-primary" %>
  	</p>
<% end %>
<div class="row-fluid">
  <div class="span6">
  <div class="well">
  	コース合計時間: <span id="total_course_time">ERROR</span>
  </div>
  </div>
  <div class="span6">
    <div id='period_calendar'></div>
  </div>
</div>
