<%= simple_form_for(@course, :html => { :class => "form-horizontal" } ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :company_id , input_html: { class: 'input-xxlarge' } %>
    <%= f.input :name %>
    <%= f.input :order_flg %>
    <%= f.input :book_flg %>
    <%= f.input :reception_seal_flg %>
    <%= f.input :cert_seal_flg %>
    <%= f.input :end_form_flg %>
    <%= f.input :diploma_flg %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
