<h1>見積り一覧</h1>

<%= link_to '新規追加', new_lead_estimate_path, :class => 'btn btn-default' %>
<table id="estimates_datatable" class="default_datatables">
  <thead>
    <tr>
      <th>発行済</th>
      <th>会社名</th>
      <th>期日</th>
      <th>合計金額</th>
      <th>作成日</th>
      <th>Memo</th>
      <th>PDF</th>
    </tr>
  </thead>

  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= link_to_switch_flg estimate, :send_flg %></td>
        <td><%= link_to estimate.lead.name, edit_lead_estimate_path(estimate) %></td>
        <td><%= estimate.expired %></td>
        <td><%= number_to_currency estimate.total_price %></td>
        <td><%= estimate.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= estimate.memo %></td>
        <td><%= link_to 'PDF', lead_estimate_path(estimate, format: :pdf) , class: "btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

