<!DOCTYPE html>
<html>
<head>
  <title>デップ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  
</head>
<body>
  <% if flash[:notice].present? then%>
    <%= javascript_tag "noty({text: '" + flash[:notice] + "' ,type: 'notice',timeout: 2000});" %>
  <% end %>
  <% if flash[:alert].present? then%>
    <%= javascript_tag 'noty({text: "' + flash[:alert] + '" ,type: "error",timeout: 2000});' %>
  <% end %>
<div class="container-fluid">
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">デップ</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	コクピット<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><a href="/">未完了タスク</a></li>
               <li><%= link_to "コースタスク" , {controller: "courses", action: "task"}%></li>
               <li><%= link_to "コースアラート" , {controller: "courses", action: "alert"}%></li>
               <li><%= link_to "失注案件" , {controller: "companies", action: "failure"}%></li>
             </ul>
            </li>

            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	会社<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "会社検索" , {controller: "companies", action: "search"}%></li>
               <li><%= link_to "Google Map" , {controller: "companies", action: "map"}%></li>
               <li><%= link_to "新規追加" , {controller: "companies", action: "new"}%></li>
               <li><%= link_to "見込み度高い案件", {controller: "companies", action: "usershow"}%></li>
               <li><%= link_to "新規獲得元", controller: "campaigns" %></li>
               <li><%= link_to "連絡先" , {controller: "clients", action: "index"}%></li>
             </ul>
            </li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	見積り<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "見積り" , {controller: "estimates", action: "index"}%></li>
               <li><%= link_to "請求予定表" , {controller: "billing_plans", action: "index"}%></li>
               <li><%= link_to "請求書" , {controller: "bills", action: "index"}%></li>
               <li><%= link_to "売上計上表" , {controller: "billing_plans", action: "sales"}%></li>
             </ul>
            </li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	コース<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "コース検索" , {controller: "courses", action: "index"}%></li>
               <li><%= link_to "カレンダー", {controller: "courses", action: "calendar"}%></li>
             </ul>
            </li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	タスク
            	<b class='caret'></b>
            	<% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "タスク検索" , {controller: "tasks", action: "index"}%></li>
               <li><%= link_to "各個人タスク", {:controller => "tasks", :action => "usershow"}%></li>
               <li><%= link_to 'タスクタイプの変更', {:controller => "task_types"}%></li>
             </ul>
            </li>
            <li><%= link_to "ステータス", controller: "statuses" %></li>
            <li class="dropdown">
            	<%= link_to "#" , {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
             	講師
            	<b class='caret'></b>
            	<% end %>
            	<ul class="dropdown-menu">
            		<li><%= link_to "講師検索", {controller: "teachers", action: "index"}%></li>
                <li><%= link_to "発注管理", {controller: "teacher_orders", action: "index"}%></li>
            		<li><%= link_to "登録ステータス", {controller: "teachers", action: "flag"}%></li>
            	</ul>
            </li>
            <li><%= link_to "グラフ", controller: "graphs", action: "action" %></li>
          </ul>
          <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a class="navbar-link">ユーザー名： <%= current_user.name %></a></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          <% else %>
            <li><%= link_to 'ユーザーなし', new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
          </ul>
          <!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

<%= yield %>
</div>
</body>
</html>
