<!DOCTYPE html>
<html>
<head>
  <title>デップ</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice].present? then%>
    <%= javascript_tag "noty({text: '" + flash[:notice] + "' ,type: 'notice',timeout: 2000});" %>
  <% end %>
  <% if flash[:alert].present? then%>
    <%= javascript_tag 'noty({text: "' + flash[:alert] + '" ,type: "error",timeout: 2000});' %>
  <% end %>
<div class="container-fluid">
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">デップ</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">コクピット</a></li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	会社<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "会社検索" , {controller: "companies", action: "search"}%></li>
               <li><%= link_to "見込み度高い案件", {controller: "companies", action: "usershow"}%></li>
             </ul>
            </li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	コース<b class='caret'></b><% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "コース一覧" , {controller: "courses", action: "index"}%></li>
               <li><%= link_to "カレンダー", {controller: "courses", action: "calendar"}%></li>
             </ul>
            </li>
            <li class="dropdown"><%= link_to "#", {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
            	タスク
            	<b class='caret'></b>
            	<% end %>
             <ul class="dropdown-menu">
               <li><%= link_to "全体タスク" , {controller: "tasks", action: "index"}%></li>
               <li><%= link_to "各個人タスク", {:controller => "tasks", :action => "usershow"}%></li>
               <li><%= link_to '新しいタスク', new_task_path%></li>
               <li><%= link_to 'タスクタイプの変更', {:controller => "task_types"}%></li>
             </ul>
            </li>
            <li><%= link_to "ステータス", controller: "statuses" %></li>
            <li class="dropdown">
            	<%= link_to "#" , {:class => "dropdown-toggle" , "data-toggle" => "dropdown"} do %>
             	講師
            	<b class='caret'></b>
            	<% end %>
            	<ul class="dropdown-menu">
            		<li><%= link_to "詳細", {controller: "teachers", action: "index"}%></li>
            		<li><%= link_to "登録状況", {controller: "teachers", action: "flag"}%></li>
            		<li><%= link_to '新規追加', new_teacher_path %></li>
            	</ul>
            </li>
            <li><%= link_to "グラフ", controller: "graphs" %></li>
          </ul>
          <ul class="nav pull-right">
                      <li><a href="/current">ユーザー名：<%= session[:current_layout_user] %></a></li>
          </ul>
          <!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>

<%= yield %>
</div>
</body>
</html>
